@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}

body {
    background-color: #46458C;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.analog-clock {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #E8A9A9;
    border-radius: 50%;
    border: 7px solid #090580;
}

.analog-clock::before {
    z-index: 3;
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    top: 50%;
    left: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
}

.analog-clock::after {
    content: "JS Analog clock";
    position: absolute;
    color: #321E1E;
    font-weight: 500;
    top: 18%;
    left: 50%;
    font-size: 20px;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.numbers {
    --rotate: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 25px;
    text-align: center;
    transform: rotate(var(--rotate));
}

.numbers-1 {
    --rotate: 30deg
}

.numbers-2 {
    --rotate: 60deg
}

.numbers-3 {
    --rotate: 90deg
}

.numbers-4 {
    --rotate: 120deg
}

.numbers-5 {
    --rotate: 150deg
}

.numbers-6 {
    --rotate: 180deg
}

.numbers-7 {
    --rotate: 210deg
}

.numbers-8 {
    --rotate: 240deg
}

.numbers-9 {
    --rotate: 270deg
}

.numbers-10 {
    --rotate: 300deg
}

.numbers-11 {
    --rotate: 330deg
}

.needle {
    z-index: 2;
    --rotation: 0;
    transform-origin: bottom;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.sec {
    width: 5px;
    height: 40%;
    background-color: #321E1E;
}

.min {
    width: 10px;
    height: 32%;
    background-color: #4E3636;
}

.hrs {
    width: 18px;
    height: 29%;
    background-color: #CD1818;
}

@media(max-width:768px) {
    .analog-clock {
        width: 350px;
        height: 350px;

    }

    .analog-clock::after {
        font-size: 12px;
    }

    .numbers {
        font-size: 16px;
    }

    .sec {
        width: 3px;
        height: 40%;

    }

    .min {
        width: 7px;
        height: 32%;

    }

    .hrs {
        width: 10px;
        height: 29%;

    }

    .analog-clock::before {
        width: 14px;
        height: 14px;
    }
}